Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.cache
.DS_Store
.htaccess
.well-known
*.log

# Below Comments For Design Style & Scripts
# /public/css/*
# !/public/css/.gitkeep
# /public/js/core/*
# !/public/js/core/.gitkeep

# /public/js/*.js*
# !/public/js/.gitkeep

# /public/js/iqonic-script/*.min.js*
# !/public/js/iqonic-script/.gitkeep
# !/public/js/setting-init.js

# /public/modules/**/*
# !/public/modules/.gitkeep
# /public/mix-manifest.json
node_modules
package-lock.json
/storage/media-library/**/*

# Laravel specific
/vendor
.env
.env.backup
.phpunit.result.cache
/public/storage
/public/hot
/public/mix-manifest.json

# IDE specific
/.idea
/.vscode
.phpstorm.meta.php
_ide_helper.php
.editorconfig
